@media screen and (min-width: 768px) {

    body {
        height: 100vh;
        background-image: url(../img/bg-desktop.svg);
        background-size: 92% 105%;
    }

    .page-container {
        max-width: 1295px;
        margin-top: 2.2rem;

        header {
            margin-bottom: 0rem;
        }

        main {
            flex-direction: row;
            margin-bottom: 1.3rem;
            text-align: left;

            .hero {
                width: 55%;
                margin-bottom: 0;
            }

            .content-container {
                padding: 1rem;
                width: 45%;

                h1 {
                    font-size: 2rem;
                }

                p {
                    font-size: 1rem;
                    margin-bottom: 2.5rem;
                }

                .button {
                    padding: 0.8rem 4rem;
                    font-size: 1.1rem;
                    font-weight: 400;
                    color: darken($c_txt_button, 10%);
                    box-shadow: 2px 2px 7px 2px hsla(0, 0%, 0%, 0.3);
                }
            }
        }

        footer {

            ul {
                position: absolute;
                left: 0;

                li {
                    font-size: 1.2rem;
                    width: 2.6rem;
                    height: 2.6rem;
                    margin-right: 0.2rem;
                }
            }
        }
    }
}

@media screen and (min-width: 900px) {

    .page-container {

        header {
            margin-bottom: 4rem;
        }

        main {

            .content-container {
                padding: 3.2rem 0.5rem 3.2rem 3.2rem;

                h1 {
                    font-size: 2.5rem;
                }

                p {
                    font-size: 1.15rem;
                }

                .button {
                    padding: 1rem 4rem;
                    font-size: 1.2rem;
                }
            }
        }

        footer {
    
            ul {
                position: absolute;
                right: 0;
                left: auto;
            }
        }
    }
}