/* ----------------------------------- COLORS ----------------------------------- */

$c_bg_body: hsl(257, 40%, 49%);
$c_active: hsl(300, 69%, 71%);
$c_txt_heading: hsl(0, 0%,  100%);
$c_txt_boddy: hsla(0, 0%, 100%, 0.95);
$c_txt_button: hsl(257, 40%, 49%);

/* ----------------------------------- FONTS ----------------------------------- */

$f_heading: 'Poppins', sans-serif;
$f_boddy: 'Open Sans', sans-serif;